{% extends 'ilo2/base.html' %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Virtual Media Summary</h1>
        </div>
    </div>

    <table class="table table-sm">
        <thead>
          <tr>
            <td scope="col">CD / DVD ROM</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Status</td>
            <td>{{ cdrom.applet|default:'Unknown' }}</td>
          </tr>
          <tr>
            <td>Image Inserted</td>
            <td>{{ cdrom.image_inserted|default:'Unknown' }}</td>
          </tr>
          <tr>
            <td>Image URL</td>
            <td>{{ cdrom.image_url|default:'Unknown' }}</td>
          </tr>
          <tr>
            <td>Write Protected</td>
            <td>{{ cdrom.write_protect|default:'Unknown' }}</td>
          </tr>
          <tr>
            <td>Boot Option(s)</td>
            <td>{{ cdrom.boot|default:'Unknown' }}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-sm">
        <thead>
          <tr>
            <td scope="col">Floppy / USB Key</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Status</td>
            <td>{{ floppy.applet|default:'Unknown' }}</td>
          </tr>
          <tr>
            <td>Image Inserted</td>
            <td>{{ floppy.image_inserted|default:'Unknown' }}</td>
          </tr>
          <tr>
            <td>Image URL</td>
            <td>{{ floppy.image_url|default:'Unknown' }}</td>
          </tr>
          <tr>
            <td>Write Protected</td>
            <td>{{ floppy.write_protect|default:'Unknown' }}</td>
          </tr>
          <tr>
            <td>Boot Option(s)</td>
            <td>{{ floppy.boot|default:'Unknown' }}</td>
          </tr>
        </tbody>
      </table>
{% endblock %}
