<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarsHealth">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" data-target="summary">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-target="fans">Fans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-target="tempreature">Tempreatures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-target="power">Power</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-target="processor">Processors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-target="memory">Memory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-target="network">NIC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-target="storage">Drives</a>
            </li>
        </ul>
    </div>
</nav>
